<!DOCTYPE html>
<html lang="en">


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cart</title>
    <meta name="keywords" content="StyleSavvy">
    <meta name="description" content="StyleSavvy">
    <meta name="author" content="Ahsanallajpk">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/demos/demo-5/ss.png">

    <!-- google icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />



         <!-- bootstrap -->

         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/myStyle.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-5.css">
</head>

<body onload="loadCartPage()">

    <!-- loading -->
    <section id="loading">
        <h2 id="footer-logo">StyleSavvy</h2>
        <span class="loader"></span>

    </section>

    <div id="snackbar">
        <span id="snackbar_icon" class="material-symbols-outlined">
            task_alt
        </span>
        <p id="snackbar_msg"></p>
    </div>

    <section id="cart">
        <div class="page-wrapper">

            <header class="header header-5">
                <div class="header-middle sticky-header">
                    <div class="container">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <h2 id="logo">StyleSavvy</h2>

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="home">
                                        <p class=""><a id="a_menu_item" href="/home">Home</a></p>
                                    </li>
                                    <li class="products">
                                        <p><a id="a_menu_item" href="/shop">Shop</a></p>
                                    </li>

                                    <li class="more" id="more">
                                        <p><a id="a_menu_item" href="/contact">Contact</a></p>
                                    </li>
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .header-left -->

                        <div class="header-right">
                            <div class="header-search header-search-extended header-search-visible">
                                <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                                <form id="search_form"  method="get">
                                    <div class="header-search-wrapper">
                                        <label for="q" class="sr-only">Search</label>
                                        <input type="search" class="form-control" name="search" id="search"
                                            placeholder="Search product" required autocomplete="off">
                                        <button class="btn btn-primary" type="submit"><i
                                                class="icon-search"></i></button>
                                    </div>
                                </form>

                                <script>
                                        const form = document.getElementById('search_form')
                                        form.addEventListener('submit', (e)=>{
                                             e.preventDefault()

                                            const data = document.getElementById('search').value

                                            let url = new URL(window.location.href);
                                            url.pathname = '/shop';
                                            url.searchParams.set('search', data);
                                            window.location.href = url.toString();

                                        })                                        
                                </script>
                            </div>
                           
                            <a id="wishlist_icon" href="/wishlist" class="dropdown cart-dropdown">
                                <i style="font-size: 24px;" class="icon-heart-o"></i>
                                <span id="wishlist_count" class="cart-count"><%= locals.wishlist? locals.wishlist.items.length : 0 %></span> 
                            </a>

                            <a id="cart_icon" href="/cart" class="dropdown cart-dropdown">
                                <i style="font-size: 32px;" class="icon-shopping-cart"></i>
                                <span id="cart_count" class="cart-count"><%= locals.cart?  locals.items.length:0 %></span>      
                              </a>

                            <% if (locals.user) { %>
                                <% const names=locals.user.name[0].toUpperCase(); %>
                        <ul class="menu">
                            <li class="home">
                                <p class=""><a id="a_menu_item" href="/profile"><%= names %></a></p>
                            </li>
                        </ul>    
                    <% } else { %>
                        <ul class="menu sf-arrows">
                            <li class="home">
                                <p class=""><a id="a_menu_item" href="/signIn">Login</a></p>
                            </li>
                        </ul> 
                    <% } %>
                    
                    

                </div><!-- End .header-right -->
            </div><!-- End .container-fluid -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->

        <main class="main">
        	
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                    <div class="container d-flex align-items-center">
                        <ol class="breadcrumb mt-1">
                            <li class="breadcrumb-item"><a style="font-size: 15px; margin-right: 8px;font-weight: 500;" href="home">Home </a>  >  <a style="font-size: 15px; margin-right: 8px; margin-left: 8px;font-weight: 500;" href="/shop"> Shop </a>  >  <a style="font-size: 15px; margin-left: 8px; color: black; font-weight: 500;" > Cart</a></li>
                        </ol>
                    </div>
                </nav>
            </nav>

            <div style=" padding-bottom: 0rem;" class="page-content">
            	<div class="cart">
                    
                    <% if(locals.cart && locals.items.length >0){ %>  
	                <div class="container">
	                	<div class="row">

	                	<div id="cart_whole_items_div" class="col-lg-8">
	                		
                        <% locals.cart.reverse().forEach(item => { %>
							<div id="row<%= item._id %>" class="row lap_size">
                                <div class="col-3 col-sm-3 col-md-2 img-div">
                                    <img src="/products/uploads/<%= item.image %>" alt="">
                                    
                                    <% if(item.stock !== 0){ %>

                                        <div id="quantity_btn_<%= item._id %>">
                                        <div class="quantity<%= item._id %>" id="btn_quantity_cart">
                                            <div class="product-details-quantity">
                                                <button onclick="decrement('<%= item.vId %>', '<%= item.sId %>','<%=item._id %>')" id="btn_decrement"><span
                                            class="material-symbols-outlined">
                                            remove
                                        </span></button>
                                        <input disabled type="text" id="quantity<%= item._id %>"
                                            value="<%= item.quantity %>" readonly required>
                                        <button onclick="increment('<%= item.vId %>', '<%= item.sId %>','<%= item._id %>')"
                                            id="btn_increment"><span class="material-symbols-outlined">
                                                add
                                            </span></button>
                                        </div>
                                       </div>
                                       </div>

                                     <% }else{ %>  

                                        <div id="quantity_btn_<%= item._id %>">
                                        <div class="quantity<%= item._id %>" style="display: none;" id="btn_quantity_cart">
                                            <div class="product-details-quantity">
                                                <button onclick="decrement('<%= item.vId %>', '<%= item.sId %>','<%=item._id %>')" id="btn_decrement"><span
                                            class="material-symbols-outlined">
                                            remove
                                        </span></button>
                                        <input disabled type="text" id="quantity<%= item._id %>"
                                            value="<%= item.quantity %>" readonly required>
                                        <button onclick="increment('<%= item.vId %>', '<%= item.sId %>','<%= item._id %>')"
                                            id="btn_increment"><span class="material-symbols-outlined">
                                                add
                                            </span></button>
                                        </div>
                                       </div>

                                    </div>
                                        
                                     <% } %>   

                                </div>

                            <div class="col-8 col-sm-8 col-md-9 name-div">
                    <p class="name-p">

                    <h6>
                        <%= item.product_name %>
                    </h6>
                    <p class="category">
                        <%= item.type %> > <%= item.category %> > <%= item.color %> > <span style="color: #bf8040;"><%= item.size %></span>
                    </p>
                  
                    <% if(item.stock !==0){ %>

                        <h5 id="totalPrice<%= item._id %>">₹ <%= item.totalPrice %>

                    <% } %>   

                    </h5>
                    <% if(item.stock<=5 && item.stock>0){ %>

                        <% if(item.stock<item.quantity || item.stock === item.quantity) {%>

                            <p id="stock_lable<%= item._id %>" class="p" style="color: red;">Only <%= item.stock %> stock(s) left</p>

                         <% }else{ %>

                            <p id="stock_lable<%= item._id %>" class="p" style="color: red;">Only few stocks</p>
                            
                         <% } %>   

                        <% } else if(item.stock> 5){%>

                            <p class="p" id="stock_lable<%= item._id %>" style="color: green;">In stock</p>

                            <% } else{%>

                                <p class="p" id="stock_lable<%= item._id %>" style="color: red;">Out of stock</p>

                                <% } %>
                                    </p>

                                    <form action="">
                                        <input type="hidden" id="itemId<%= item._id %>" value="<%= item._id %>">
                                        <input type="hidden" id="itemIndex<%= item._id %>" value="<%= item.index %>">
                                        <input type="hidden" id="varientId<%= item._id %>" value = "<%= item.vId %>" >
                                    </form>
                </div>

                <div class="col-1 col-sm-1 col-md-1 remove">
                    <span  onclick="getRemoveModal('<%= item._id %>')" data-bs-toggle="modal" data-bs-target="#remove"  class="material-symbols-outlined">
                        close
                    </span>
                </div>

                 </div>


   
              <% }); %>




            </div><!-- End .col-lg-9 -->

            <aside id="checkout_div" class="col-lg-4">
              
                <button onclick="updateCart()" style="color: black;" id="update_cart_btn" class="btn btn-outline-dark-2 btn-block mb-3"><span>UPDATE CART</span><i
                    class="icon-refresh"></i></button>
                <div class="summary summary-cart">
                    <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                    <table class="table table-summary">
                        <tbody>
                            <tr class="summary-subtotal">
                                <td style="border-style: none; background-color: #f9f9f9;"" id="count">Price(<%= locals.count %> Items):</td>
                                <td style="border-style: none; background-color: #f9f9f9;"" id="sub_total" >₹ <%= locals.total %>.00</td>
                            </tr><!-- End .summary-subtotal -->
                            <!-- <tr class="summary-shipping">
                                <td>Shipping:</td>
                                <td>&nbsp;</td>
                            </tr> -->

                            <!-- <tr class="summary-subtotal summary-shipping-row">
                                <td>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="free-shipping" name="shipping"
                                            class="custom-control-input">
                                        <label style="font-size: 15px;color: black;" class="custom-control-label" for="free-shipping">Shipping Amount</label>
                                    </div>
                                    Shipping Amount:
                                </td>
                                <td>₹ <%= (locals.total ? 50 : 0) %>.00</td>
                            </tr> -->

                            <!-- <tr class="summary-shipping-row">
                                <td>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="standart-shipping" name="shipping"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="standart-shipping">Standart:</label>
                                    </div>
                                </td>
                                <td>$10.00</td>
                            </tr> -->

                            <!-- <tr class="summary-shipping-row">
                                <td>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="express-shipping" name="shipping"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="express-shipping">Express:</label>
                                    </div>
                                </td>
                                <td>$20.00</td>
                            </tr> -->

                            <!-- <tr class="summary-shipping-estimate">
                                <td>Estimate for Your Country<br> <a href="dashboard.html">Change address</a></td>
                                <td>&nbsp;</td>
                            </tr> -->

                            <tr class="summary-total">
                                <td style="font-size: 18px; font-weight: 500; background-color: #f9f9f9;">Total:</td>
                                <td id="last_total" style="font-size: 18px; font-weight: 500; background-color: #f9f9f9;">
                                    ₹ <%= (locals.total ? locals.total : 0) %>.00
                                </td>
                            </tr><!-- End .summary-total -->
                        </tbody>
                    </table><!-- End .table table-summary -->

                    <button id="checkout_btn" onclick="checkOut()"  class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO
                        CHECKOUT</button>
                </div><!-- End .summary -->

                <a href="/shop" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i
                        class="icon-refresh"></i></a>
            </aside>


            </div><!-- End .row -->
            </div><!-- End .container -->
            
            <% }else{ %>

                <div style="display: flex; justify-content: center; padding-top: 58px; padding-bottom: 58px;">

                    <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                        <h5>Your cart is empty!</h5>
                        <p>Explore our wide selection and find something you like</p>
                        <img style="width: 43%;" src="/assets/images/demos/demo-5/cart.png" alt="">
                        <a style="cursor: pointer; color: #c96; font-weight: 500; font-size: 16px;"  href="/shop">Shop Now</a>
                    </div>
                </div>


                <% } %>


                <div id="nocart_div" style="justify-content: center; padding-top: 58px; padding-bottom: 58px;">

                    <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                        <h5>Your cart is empty!</h5>
                        <p>Explore our wide selection and find something you like</p>
                        <img style="width: 43%;" src="/assets/images/demos/demo-5/cart.png" alt="">
                        <a style="cursor: pointer; color: #c96; font-weight: 500; font-size: 16px;"  href="/shop">Shop Now</a>
                    </div>
                </div>


                    </div><!-- End .cart -->
                    </div><!-- End .page-content -->
                    </main><!-- End .main -->
                    <footer class="footer">
                        <div class="footer-middle">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="widget widget-about">
                                            <h2 id="footer-logo">StyleSavvy</h2>
                                            <p>Discover the latest trends and timeless classics in fashion. Shop with us for quality clothing that fits your style and budget. Thank you for choosing us!.</p>
            
                                            <div class="social-icons">
                                                <a href="https://www.youtube.com/channel/UCm0ea9vsyhG6mMJZr99HNCg" class="social-icon" title="Facebook" target="_blank"><i class="icon-youtube"></i></a>
                                                <!-- <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a> -->
                                                <a href="https://www.instagram.com/allajahzan/" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                                <a href="https://in.pinterest.com/ahsanallaj/" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                            </div><!-- End .soial-icons -->
                                        </div><!-- End .widget about-widget -->
                                    </div><!-- End .col-sm-6 col-lg-3 -->
            
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="widget">
                                            <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->
            
                                            <ul class="widget-list">
                                                <li><a>About Molla</a></li>
                                                <li><a>How to shop on StyleSavvy</a></li>
                                                <li><a>FAQ</a></li>
                                                <li><a>Contact us</a></li>
                                                <li><a>Log in</a></li>
                                            </ul><!-- End .widget-list -->
                                        </div><!-- End .widget -->
                                    </div><!-- End .col-sm-6 col-lg-3 -->
            
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="widget">
                                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
            
                                            <ul class="widget-list">
                                                <li><a >Payment Methods</a></li>
                                                <li><a >Money-back guarantee!</a></li>
                                                <li><a >Returns</a></li>
                                                <li><a >Shipping</a></li>
                                                <li><a >Terms and conditions</a></li>
                                                <li><a >Privacy Policy</a></li>
                                            </ul><!-- End .widget-list -->
                                        </div><!-- End .widget -->
                                    </div><!-- End .col-sm-6 col-lg-3 -->
            
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="widget">
                                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
            
                                            <ul class="widget-list">
                                                <li><a href="/signIn">Sign In</a></li>
                                                <li><a href="/cart">View Cart</a></li>
                                                <li><a href="/wishlist">My Wishlist</a></li>
                                                <li><a href="/orders">Track My Order</a></li>
                                                <li><a href="/contact">Help</a></li>
                                            </ul><!-- End .widget-list -->
                                        </div><!-- End .widget -->
                                    </div><!-- End .col-sm-6 col-lg-3 -->
                                </div><!-- End .row -->
                            </div><!-- End .container -->
                        </div><!-- End .footer-middle -->
            
                        <div class="footer-bottom">
                            <div class="container">
                                <p class="footer-copyright">Copyright © 2024 StyleSavvy. All Rights Reserved.</p>
                                <!-- End .footer-copyright -->
                                <figure class="footer-payments">
                                    <img src="/assets/images/payments.png" alt="Payment methods" width="272"
                                        height="20">
                                </figure><!-- End .footer-payments -->
                            </div><!-- End .container -->
                        </div><!-- End .footer-bottom -->
                    </footer><!-- End .footer -->
                    </div>
                    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

                    <!-- Mobile Menu -->
                    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

                    <div class="mobile-menu-container mobile-menu-dark">
                        <div class="mobile-menu-wrapper">
                            <span class="mobile-menu-close"><i class="icon-close"></i></span>
            
                            <form id="search_form1" method="get" class="mobile-search">
                                <label for="mobile-search" class="sr-only">Search</label>
                                <input type="search"  class="form-control" name="mobile-search" id="search1" autocomplete="off" placeholder="Search in..." required>
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            </form>

                            <script>
                                const form1 = document.getElementById('search_form1')
                                form1.addEventListener('submit', (e)=>{
                                     e.preventDefault()
                
                                    const data = document.getElementById('search1').value
                
                                    let url = new URL(window.location.href);
                                    url.pathname = '/shop';
                                    url.searchParams.set('search', data);
                                    window.location.href = url.toString();
                                })                                        
                           </script>
                            
                            <nav class="mobile-nav">
                                <ul class="mobile-menu">
                                    <li>
                                        <a href="/home">Home</a>
                                    </li>
                                    <li>
                                        <a href="/shop">Shop</a>
                
                                    </li>
                
                                    <li>
                                        <a href="/contact">Contact</a>
                
                                    </li>
                                    <li>
                                        <a href="/wishlist">Wishlist</a>
                                    </li>
                                    <li class="active">
                                        <a href="/cart">Cart</a>
                                    </li>
                                    <li>
                                        <a href="/profile">Profile</a>
                                    </li>
                                </ul>
                            </nav>

                            <div class="social-icons">
                                <a href="https://www.youtube.com/channel/UCm0ea9vsyhG6mMJZr99HNCg" class="social-icon" title="Facebook" target="_blank"><i class="icon-youtube"></i></a>
                                <!-- <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a> -->
                                <a href="https://www.instagram.com/allajahzan/" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="https://in.pinterest.com/ahsanallaj/" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                            </div><!-- End .social-icons -->
                        </div><!-- End .mobile-menu-wrapper -->
                    </div><!-- End .mobile-menu-container -->
    </section>

    <div class="modal fade" id="remove" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="unlistCategoryLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <!-- <img id="img_cart" src="/assets/images/demos/demo-5/cart-unscreen.gif" alt="" style="position: absolute; top: 10em; left: 50%; transform: translateX(-120%); z-index: 9999; width: 45%;"> -->
            <div class="modal-content">
                <div class="modal-body text-center"> <!-- Added text-center class to center align text -->
                    <h6>Are you sure you want to remove this item?</h6>
                </div>
                <div class="modal-footer justify-content-center"> <!-- Added justify-content-center class to center align buttons -->
                    <button class="close_btn" data-bs-dismiss="modal">No</button>
                    <button id="confirm_btn" class="button2">Yes</button>
                </div>
            </div>
        </div>
    </div>



    <!-- modal to shoe before checkout -->

    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="outofstock" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-md">
      <div class="modal-content">
       
        <div id="show_unavailable_p" class="modal-body">
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 img-div">
                    <img id="product_img" alt="">
                </div>
                <div class="col-9 col-sm-9 col-md-9 name-div">
                    <div class="row">
                        <div class="col">
                            <h6 id="product_name"></h6>
                            <p id="category_of_p"></p>
                            <p id="show_label_p"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="footer_" style="display: flex;" >
          <button type="button" id="close_btn_unavailable" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="understood_btn_unavailable" onclick="continueCheckOut()"  class="btn btn-primary">Continue</button>
        </div> -->
        <div class="modal-footer"> <!-- Added justify-content-center class to center align buttons -->
            <button id="close_btn_unavailable" class="close_btn" data-bs-dismiss="modal">Close</button>
            <button id="understood_btn_unavailable"  onclick="continueCheckOut()" class="button2">Continue</button>
        </div>
      </div>
    </div>
  </div>
    




    <!-- Plugins JS File -->
    <script src="/assets/js/api/cart.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->

</html>